.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

ion-card-content {
    padding: 20px;
}

ion-button {
    margin-top: 20px;
}

.header-title {
    font-size: 1.5rem;
    /* Ajusta el tamaño de la letra según tus preferencias */
    text-align: center;
    width: 100%;
    /* Asegura que ocupa todo el ancho disponible */
    margin-left: auto;
    margin-right: auto;
}